.links {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    color: #b39969;
    font-family: Helvetica, Arial, sans-serif;
}

.title {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
}